@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
    width: 0.1em;
    background-color: transparent;
  }
  
body::-webkit-scrollbar-thumb {
    background-color: transparent;
  }